:root {
  --purple: #9b78a8;
  --cyan: #42cfbe;
  --violet: #e9affd;
  --darkViolet: #9638b7;
  --lightBlue: #b0affd;
  --blue: #5551fd;
  --background: #caa6a6;
  --shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "roboto", "sans-serif";
  background: var(--background);
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--lightBlue);
  transition: 0.25s ease;
}

nav {
  background: var(--purple);
}

.container {
  margin: auto;
  width: 85vw;
  max-width: 1170px;
}

.main-section {
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: var(--shadow);
}

.center {
  text-align: center;
}

.btn {
  padding: 8px 18px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-small {
  padding: 6px 16px;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--purple);
  color: white;
}

.btn-primary:hover {
  transition: 0.25s ease;
  opacity: 0.7;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  min-width: 180px;
  font-size: 24px;
}

.error {
  margin-top: 50px;
  font-size: 36px;
}

.about {
  width: 660px;
  margin: 40px auto;
  text-align: justify;
}

.top-section {
  display: flex;
  margin-top: 70px;
  margin-bottom: 60px;
  align-items: center;
}

form {
}

.search-wrapper {
  height: 90px;
  width: 450px;
  min-width: 300px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-wrapper label {
  display: block;
  color: black;
  font-size: 26px;
  margin-bottom: 10px;
}

.search-wrapper input {
  width: 90%;
  height: 30px;
  outline: none;
  border: 1px solid var(--darkViolet);
  border-radius: 8px;
}

.search-wrapper input:focus {
  outline: none;
  transition: 0.25s ease;
  box-shadow: 1px 1px 4px 1px rgba(155, 120, 168, 0.35);
}

.filter-wrapper {
  margin-left: 80px;
}

.filter-wrapper h2 {
  margin: 0;
  margin-bottom: 16px;
}

.tag-container {
  display: flex;
  justify-content: space-between;
}

.tag {
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
}

.tag-container .tag-purple {
  margin-right: 30px;
}

.tag-purple {
  background-color: var(--violet);
  color: var(--darkViolet);
  box-shadow: var(--shadow);
}

.tag-purple:hover {
  color: var(--violet);
  background-color: var(--darkViolet);
  transition: 0.25s ease;
}

.tag-purple:focus {
  outline: 2px solid var(--darkViolet);
}

.tag-blue {
  background-color: var(--lightBlue);
  color: var(--blue);
  box-shadow: var(--shadow);
}

.tag-blue:hover {
  color: var(--lightBlue);
  background-color: var(--blue);
  transition: 0.25s ease;
}

.tag-blue:focus {
  outline: 2px solid var(--blue);
}

.card-wrapper {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}

@media screen and (min-width: 576px) {
  .card-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.card-container {
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.cocktail-info {
  padding: 15px;
}

.cocktail-info h2,
h3,
p {
  margin: 0;
  margin-bottom: 15px;
}

.cocktail-info h2 {
  font-size: 28px;
  border-bottom: 1px solid black;
}

.alcoholic {
  color: var(--darkViolet);
}

.non-alcoholic {
  color: var(--blue);
}
