:root {
  --purple: #9b78a8;
  --cyan: #42cfbe;
  --violet: #e9affd;
  --darkViolet: #9638b7;
  --lightBlue: #b0affd;
  --blue: #5551fd;
  --background: #caa6a6;
  --shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "roboto", "sans-serif";
  background: var(--background);
  color: white;
}

img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--lightBlue);
  transition: 0.25s ease;
}

nav {
  background: var(--purple);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  margin: auto;
  width: 85vw;
  max-width: 1224px;
}

.main-section {
  background-color: white;
  color: black;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 40px;
  box-shadow: var(--shadow);
}

.center {
  text-align: center;
}

.btn {
  padding: 8px 18px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.btn-small {
  padding: 6px 16px;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--purple);
  color: white;
}

.btn-primary:hover {
  transition: 0.25s ease;
  opacity: 0.7;
}

.title {
  text-align: center;
  font-size: 36px;
  padding: 15px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  min-width: 180px;
  font-size: 24px;
}

.error {
  margin-top: 50px;
  font-size: 36px;
}

.about {
  width: 660px;
  margin: 40px auto;
  text-align: justify;
  color: black;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  margin-top: 70px;
  align-items: center;
}

.search-wrapper {
  max-width: 500px;
  height: 90px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-wrapper label {
  display: block;
  color: black;
  font-size: 26px;
  margin-bottom: 10px;
}

.search-wrapper input {
  width: 90%;
  height: 30px;
  outline: none;
  border: 1px solid var(--darkViolet);
  border-radius: 8px;
}

.search-wrapper input:focus {
  outline: none;
  transition: 0.25s ease;
  box-shadow: 1px 1px 4px 1px rgba(155, 120, 168, 0.35);
}

.filter-wrapper h2 {
  margin: 0;
  margin-bottom: 16px;
}

.tag-container {
  display: flex;
  gap: 12px;
}

.tag {
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.tag-purple {
  background-color: var(--violet);
  color: var(--darkViolet);
}

.tag-purple:hover {
  color: var(--violet);
  background-color: var(--darkViolet);
  transition: 0.25s ease;
}

.tag-purple:focus {
  outline: 2px solid var(--darkViolet);
}

.tag-blue {
  background-color: var(--lightBlue);
  color: var(--blue);
}

.tag-blue:hover {
  color: var(--lightBlue);
  background-color: var(--blue);
  transition: 0.25s ease;
}

.tag-blue:focus {
  outline: 2px solid var(--blue);
}

.tag-green {
  background-color: #92d1b5;
  color: #597c6d;
}

.tag-green:hover {
  color: #92d1b5;
  background-color: #597c6d;
  transition: 0.25s ease;
}

.tag-green:focus {
  outline: 2px solid #597c6d;
}

.card-wrapper {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 15px;
}

@media screen and (min-width: 576px) {
  .card-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.card-container {
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.cocktail-info {
  padding: 15px;
}

.cocktail-info h2,
p {
  margin: 0;
  margin-bottom: 15px;
}

.cocktail-info h2 {
  font-size: 28px;
  border-bottom: 1px solid black;
}

.alcoholic {
  color: var(--darkViolet);
}

.non-alcoholic {
  color: var(--blue);
}

.drink {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 3rem;
  padding: 15px;
}

.title-main {
  font-size: 34px;
  font-weight: 800;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.drink h1 > span {
  font-weight: 500;
}

.drink p {
  margin-bottom: 5px;
}

.drink p > span {
  font-weight: bold;
}

.drink ul {
  margin: 5px 0;
  padding-left: 40px;
  list-style: circle;
  font-size: 16px;
}

.drink-details {
  font-size: 17px;
  padding-right: 15px;
}

.drink button {
  margin: 15px 0;
}

.tabs-container {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 3fr;
  margin: 60px 0;
}

.tabs {
  margin-right: 50px;
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.tabs-title {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--purple);
  font-size: 16px;
  background-color: white;
}

.tabs-active,
.tabs-title:hover {
  transition: 0.2s ease;
  color: white;
  background-color: var(--purple);
}

.tabs-details {
  width: 90%;
}

@media (max-width: 800px) {
  .card-container img {
    height: 30rem;
  }

  .drink {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .top-section {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media (max-width: 525px) {
  .container {
    width: 95vw;
  }

  .nav-container {
    flex-direction: column;
  }

  .main-section {
    padding: 0px;
  }

  .card-wrapper {
    padding: 5px;
  }

  .card-container img {
    height: 20rem;
  }
}
